mixin carousel-book(book)
  li
    .carousel-card
      img.carousel-cover(src='./img/#{book.id}.jpg')
      span.carousel-time #{book.length} hrs.

mixin carousel-section(title, books)
  - var titleClass = title.toLowerCase().replace(" ","-")
  .container
    .row.book-showcase.quick-reads
      div(class = "col-xs-12 list-title list-#{titleClass}")
        h6.section-title
          | #{title}
          span.tag.tag-default.float-xs-right See All
      .col-xs-12.carousel
          ul
            for book in books
              +carousel-book(book) 

mixin search-results(searchTerm, books)
  .container
    .search-results-bar
      h4 Search Results for 
        span.search-term "#{searchTerm}"
      nav(aria-label='Page navigation ')
        ul.pagination.pagination-sm
          li.page-item.disabled
            a.page-link(href='#', aria-label='Previous')
              span(aria-hidden='true') «
              span.sr-only Previous
          li.page-item.active
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#', aria-label='Next')
              span(aria-hidden='true') »
              span.sr-only Next
    .search-results
      ul.container.search-container
        //- Create search cards
        for book in books
          +info-card(book,"search")
                    
                    
mixin info-card(book, type)
  li(class= "info-card")
    div(class= 'info-card-details-cover')
      img(src='./img/#{book.id}.jpg')
      p.info-card-details-link
        a(href='#') More Details
    div(class= "info-card-details-info")
      h5(class= "info-card-details-title") #{book.title}
      h6(class= "info-card-details-author") #{book.author}
      div(class= "info-card-details-time")
        p(class= "info-card-details-time-title") Expected Reading Time: 
        p(class= "info-card-details-time-amount") #{book.length} Hours and 24 Minutes
      img.amazon-banner-01(src='./img/icons/amazon-banner-01.gif')
    div(class= "info-card-details-table")
      table
        for detail in ["Year","Pages","Words","Genre"]
          tr
            th #{detail}
            td #{book[detail.toLowerCase()]}
